<h1> Cargar Productos </h1>
    <form action="/productos", method='POST'>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        </br>
        <label for="price">Price</label>
        <input type="text" name="price" id="price">
        </br>
        <label for="thumbnail">Thumbnail</label>
        <input type="file" name="thumbnail" id="thumbnail">
        </br>
        <input type="submit" value="Save">
    </form>